/*Body------------------------------------------------------------*/
body {
  width: 100%;
  font-family: Raleway;
}
#content {
  width: 70%;
  margin: auto;
}
@font-face {
  font-family: Raleway;
  src: url(polices/Raleway/static/Raleway-Regular.ttf);
}

ul {
  list-style-type: none;
}
/*Header--------------------------------------------------------*/
#Top-header {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-bottom: 1px;
}

nav {
  display: flex;
  align-items: center;
}
.lien a {
  padding: 5px;
  text-decoration: none;
}
/*barre de recherche D*/

.icon_map {
  background-color: #f2f2f2;
  display: inline-block;
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
}
#input {
  border: none;
  padding: 10px;
  margin: 0px;
}

#recherche {
  border: none;
  padding: 10px;
  margin: 0px;
  border-radius: 0px 10px 10px 0px;
  color: white;
  background-color: #0065fc;
}
/*barre de recherche F*/

.fa-stack {
  font-size: 10px;
}
/*---------------------------------------------------------MAIN------------------------------------------------------------*/
/*---------------------------------Hébergement*/
#HetP {
  display: flex;
  justify-content: space-around;
  background-color: turquoise;
}
.hebergement {
  width: 60%;
  background-color: #f2f2f2;
  border-radius: 10px 10px 10px 10px;
}
.populaires {
  background-color: #f2f2f2;
  border-radius: 10px 10px 10px 10px;
}
/*--Les plus populaires--*/
.popu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
  width: 25rem;
  height: 29rem;
}
.pcolonne {
  background-color: red;
  width: 50%;
  height: 70%;
}
.pcarte {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  height: 40%;
  width: 70%;
}
.pphoto {
  border-radius: 20px 0 0 20px;
  object-fit: cover;
  width: 40%;
  height: 100%;
}

/*--Hébergement à Marseille--*/
#acth {
  background-color: red;
  margin: 0;
  display: flex;
  justify-content: space-around;
  height: 30rem;
}
.hcolonne {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: green;
  width: 19rem;
  height: 100%;
}
.hcarte {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 80%;
  height: 40%;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}
.hphoto {
  object-fit: cover;
  width: 100%;
  height: 60%;
  border-radius: 20px 20px 0 0;
}
.etoile i {
  color: #0065fc;
}
.gris {
  color: #f2f2f2 !important;
}
/* activités à Marseille*/
#actlist {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.colonne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 19rem;
  height: 25rem;
}

.carte,
.carteS,
.carteM,
.carteduo {
  margin: 0px;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
}

.carteM {
  height: 40%;
}
.carteS {
  height: 30%;
}

.photo {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

figcaption {
  padding: 8px;
}

/*Footer--------------------------------------------------------------*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  margin-top: 60px;
}
.txtreduit {
  font-size: small;
}
.Footerbox li {
  padding: 5px;
}
