/*-----------------------------------------------------Body------------------------------------------------------------*/
body {
  margin: 0;
  width: 100%;
  font-family: Raleway;
}
.content {
  width: 90%;
  margin: auto;
}

ul {
  list-style-type: none;
}
.blue {
  color: #0065fc;
}
/*-------------------------------------------------------Header--------------------------------------------------------*/
#logo {
  width: auto;
  height: 3rem;
  object-fit: cover;
}
#Top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}
nav a {
  line-height: 4rem;
  margin-left: 3.5rem;
}
.lien a {
  text-decoration: none;
}
#barremobile a {
  padding-top: 1.2rem;
  color: black;
}
#barremobile a:hover {
  transition: 0.4ms;
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
.barre {
  /* padding-top: 2rem;
  border-top: 1px #0065fc solid; */
}

h1 {
  margin-bottom: 0px;
}

.notation {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/*--------------------------barre de recherche D*/

form {
  display: flex;
  /* margin-top: 2rem; */
  margin-bottom: 1rem;
}
.icon_map {
  background-color: #f2f2f2;
  display: inline-block;
  border-radius: 10px 0px 0px 10px;
  padding: 13px;
}
#input {
  border: none;
  padding-right: 10px;
  padding-left: 19px;
  margin: 0px;
  outline: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
::placeholder {
  color: black;
  font-weight: bold;
}

#recherche {
  border: none;
  padding-right: 23px;
  padding-left: 23px;
  margin: 0px;
  border-radius: 0px 10px 10px 0px;
  color: white;
  background-color: #0065fc;
}
.seach-icon {
  display: none;
}
/*------------------------barre de recherche F*/
.filtre {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.bouton2 {
  margin-left: 2rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Raleway;
  background-color: white;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  max-width: 13rem;
  height: 2.5rem;
}
.bouton2 a {
  text-decoration: none;
  color: black;
}
.filtreicon2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #deebff;
  position: relative;
  right: 0.5rem;
  /* z-index: 1; */
}
.fa-money-bill-wave,
.fa-child,
.fa-dog,
.fa-heart {
  font-size: 1.2rem;
}
/* .bouton {
  font-family: Raleway;
  background-color: white;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  padding: 0;
  padding-right: 1rem;
} */
.bouton2:hover {
  border: 2px solid #0065fc;
}
/* .filtreicon {
  color: #0065fc;
  padding:15px;
  background-color: #deebff;
  border-radius: 100%;
  position: relative;
  right: 0.5rem;
  z-index: 1;
  font-size: 20px;
} */

.fa-stack {
  font-size: 12px;
}
/*-------------------------------------------------------------------main------------------------------------------------------------*/
/*-------------------------------Hébergement---------------------*/
#HetP {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.populaires {
  background-color: #f2f2f2;
  border-radius: 10px 10px 10px 10px;
}
figcaption a {
  text-decoration: none;
  color: black;
}
/*_____________________________Hébergement à Marseille*/
#Hébergement {
  margin-top: 2.1rem;
  margin-bottom: 0;
  padding-left: 1.6rem;
}
.hebergement {
  width: 74%;
  background-color: #f2f2f2;
  border-radius: 10px 10px 10px 10px;
}
#acth {
  margin: 0;
  display: flex;
  justify-content: space-around;
  height: 30rem;
}
.hcolonne {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 14rem;
  height: 100%;
  width: 100%;
}
.hcarte a {
  margin: 0;
  padding: 0;
  width: auto;
  height: 60%;
  display: block;
}

.hcarte {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 80%;
  height: 40%;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  /* 5px 5px 5px grey; */
}
.hphoto {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.etoile i {
  color: #0065fc;
}
.gris {
  color: #f2f2f2 !important;
}

#afficherplus {
  padding-left: 1.8rem;
  margin-bottom: 2.8rem;
}

/*___________________________________________Les plus populaires*/

.populaires {
  background-color: #f2f2f2;
  border-radius: 10px 10px 10px 10px;
  padding: 25px;
}

.Tpopulaires {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.Tpopulaires h2 {
  margin: 0px;
  margin-top: 0.8rem;
}
.Tpopulaires i {
  font-size: larger;
}

.pcolonne {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*   justify-content: space-around; */
  margin: 0;
  width: auto;
  height: 100%;
  gap: 1.2rem;
}
.pcarte a {
  margin: 0;
  padding: 0;
  width: 35%;
  height: auto;
}
.pcarte {
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin: 0;
  margin-bottom: 1.3rem;
  padding: 5px;
  width: 20rem;
  height: 8rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.pphoto {
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  width: 100%;
  height: 100%;
}
.pade a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*__________________________________________activités à Marseille*/
#Activités {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

#actlist {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.colonne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 19rem;
  height: 25rem;
  margin-top: 1rem;
}

.colonne figcaption {
  padding-left: 1.5rem;
}

.carte,
.carteS,
.carteM,
.carteduo {
  margin: 0px;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.carteM {
  height: 40%;
}
.carteS {
  height: 30%;
}

.photo {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

figcaption {
  padding: 8px;
}

/*-----------------------------------------------------------------------------Footer--------------------------------------------------------------*/
footer {
  background-color: #f2f2f2;
  margin-top: 4rem;
}
.centrefooter {
  display: flex;
  gap: 22%;
}
.txtreduit {
  font-size: small;
  margin-top: 0px;
}
.Footerbox ul {
  padding: 0;
}
.Footerbox li {
  padding: 5px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++RESPONSIVE DESIGN++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width: 649px) {
  /*---------------------------------------------Body---------------*/
  body {
    width: 100%;
  }
  .content {
    width: 100%;
  }

  #logo {
    width: 4.5rem;
    height: auto;
    padding-left: 1.5rem;
    padding-top: 0.7rem;
  }
  /*---------------------------------------------header-------------*/
  #Top-header {
    display: block;
    position: relative;
  }

  nav a {
    margin: 0;
  }

  .lien {
    display: flex;
    justify-content: space-between;
  }
  /* Mettre inscrire a la même hauteur que le logo */
  .inscription {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1rem;
  }

  #barremobile {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  #barremobile a {
    flex-grow: 1;
    text-align: center;
    border-bottom: 2px solid #f2f2f2;
  }
  #barremobile a:hover {
    transition: 0.4ms;
    color: #0065fc;
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }
  .headM {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
    /*   align-items: center;
    text-align: center; */
  }

  .txthead {
    /*   text-align: left;
    padding-left: 2rem;
    padding-right: 2rem; */
  }
  .txthead h1 {
    font-size: 1.4rem;
  }

  .icon_map {
    padding-left: 13px;
    padding-right: 15px;
  }
  .seach-icon {
    display: block;
    border: none;
    padding: 13px;
    margin: 0px;
    border-radius: 10px;
    color: white;
    background-color: #0065fc;
  }
  form {
    margin-top: 2rem;
  }
  #input {
    padding-right: 19px;
    width: 60%;
  }
  #recherche {
    display: none;
  }

  h1 {
    margin-bottom: 0px;
  }
  .txtreduit {
    margin: 0px;
    margin-top: 0.5rem;
  }

  .filtre p {
    width: 100%;
    text-align: start;
    /*   padding-left: 1rem; */
  }
  .bouton2 {
    margin-left: 0.5rem;
  }

  .notation {
    display: flex;
    text-align: left;
    /*  margin-bottom: 2rem; */
  }
  .notation span {
    display: block;
  }
  /*---------------------------------------------Main-------------------------------*/

  /*---------------------------Hébergement à Marseille------------*/
  #HetP {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
  }

  .hebergement {
    background-color: rgb(0, 0, 0, 0);
    width: 100%;
  }

  #acth {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 1rem;
  }

  #Hébergement {
    margin-bottom: 1rem;
  }

  .colonne {
    width: 90%;
  }

  .hcolonne {
    width: 100%;
    gap: 1rem;
  }

  .hcarte {
    height: 12rem;
  }

  .populaires {
    width: 100%;
  }
  .pcolonne {
    gap: 1rem;
  }

  .pcarte {
    margin-bottom: 0;
  }
  /*--------------------------------Activité-à-Marseille*/
  #actlist {
    justify-content: center;
  }

  .pcarte {
    width: auto;
    height: 8rem;
  }

  #Hébergement {
    padding: 0;
  }

  .colonne {
    height: auto;
    gap: 1rem;
  }

  h2 {
    margin-left: 2rem;
    margin-bottom: 0;
  }
  .carte,
  .carteS,
  .carteM {
    height: 10rem;
  }
  #afficherplus {
    margin-bottom: 0px;
    margin-left: 1rem;
  }

  /*---------------------------------------------Footer---*/
  .centrefooter {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (min-width: 650px) and (max-width: 1140px) {
  .content {
    width: 98%;
  }

  #HetP {
    flex-wrap: wrap-reverse;
  }
  .populaires {
    margin: auto;
  }
  .hebergement {
    width: 100%;
    background-color: white;
  }
  #actlist {
    justify-content: space-evenly;
  }

  .pcolonne {
    align-items: initial;
  }
  .pcarte {
    margin: revert;
    width: auto;
  }
  #afficherplus {
    margin-bottom: 0px;
  }

  .centrefooter {
    display: flex;
    justify-content: space-around;
    gap: 0;
  }
}

@media screen and (min-width: 1141px) and (max-width: 1440px) {
  .content {
    width: 98%;
  }
}
