#input {
  border: none;
  padding: 10px;
  margin: 0px;
  width: ;
}

#recherche {
  border: none;
  padding: 10px;
  margin: 0px;
  border-radius: 0px 20px 20px 0px;
  color: blanchedalmond;
  background-color: steelblue;
}
